* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "MyFont";
}

@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./fonts/Gilroy-Regular.ttf) format("truetype");
}
